# Patterns to ignore when building packages.
*.swp
*.bak
*.tmp
*.orig
*~
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.tgz
.DS_Store

clickops-version
00-aws-creds
0-observability
1-cluster-lifecycle
helm-crds
# 2-application-lifecycle
